.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input {
    border: solid 1px #e5e2e2;
    padding: 10px;
}

.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 20px;
    transition: 0, 8 ease-in-out;
    cursor: pointer;
}

.form__button:hover {
    background-color: hsl(180, 100%, 43%);
    transform: scale(1.1);
    color: black;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: auto;
    }
    .form__button {
        width: 100%;
    }
    .form__button:hover {
        transform: none;
    }
}




