html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-color: #e6e6e6;
    font-family: "Poppins", sans-serif;
    word-break: break-word;
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    justify-content: center;
}

main {
    margin: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 900;
}
